/*  */



.bg-primary {
    background-color: var(--main-color) !important;
}

.card__product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__product__title {
    font-weight: 700;
    color: rgb(145, 144, 144);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.max-line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.harga-dasar {
    color: rgb(175, 175, 175);
    text-decoration: line-through;
    font-weight: 300;
    font-size: 12px;
}

.card__product__title {
    color: rgb(110, 109, 109);
}

.harga-akhir {
    font-size: 19px;
    color: rgb(26, 25, 25);
    font-weight: bold;
}

.text-gray {
    color: rgb(146, 146, 146);
}

.btn-variasi {
    border: 1px solid rgb(182, 177, 177) !important;
    padding: 4px;
    border-radius: 3px;
}

.btn-variasi:hover {
    border: 1px solid var(--main-color) !important;
}

.btn-variasi.terpilih {
    border: 1px solid var(--main-color) !important;
    background: var(--main-color);
}

.btn-variasi.btn-variasi.terpilih {
    color: white !important;
}

.ongkir-card {
    cursor: pointer;
    min-height: 50px;
}


.ongkir-card.terpilih {
    background: rgb(247, 247, 247) !important;
    /* border: 1px solid var(--main-color) !important; */
    /* color: white !important; */
}

.ongkir-card-shimmer {}


/* shimmer */


.shine {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}


.fa-spin {
    animation-duration: .4s !important;
}

.service {
    font-size: 10px;
}

.lastore-alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

.lastore-alert.lastore-alert-primary {
    color: rgb(82, 79, 79);
    background-color: var(--main-color-low);
}

.lastore-alert .title {
    font-size: 25px;
    font-weight: bold;
}

.lastore-alert .icon img {
    width: 90px;
    object-fit: cover;
    position: absolute;
    top: -30px;
    right: 0;
    transform: rotate(-10deg);
}



.wa-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 60px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;

}

.wa-float:hover {
    color: white;
    background-color: #58b97c;
}

.my-float {
    margin-top: 16px;
}


.top-bar-header-menu {
    background: #F7F7F7;
    color: #5e5e5e !important;
    font-weight: bold;
}

.main-footer {
    /* background: #F7F7F7; */
    background: white;
    color: #5e5e5e;
    padding-top: 20px;
    padding-bottom: 20px;
}

.end-footer {
    /* background: #eceaea; */
    font-weight: 300;
    font-size: 11px;
    padding: 10px;
}

.link-footer a {
    text-decoration: none;
    color: #b9b8b8;
}

a {
    text-decoration: none !important;
    color: #a5a4a4;
}

a:hover {
    color: var(--main-color)
}

.category__box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.deskripsi {
    white-space: pre-wrap;
    color: rgba(0,0,0,.8);
    font-size: .875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.875rem;
}


.cat-menu {
    width: 40px;
}