 /* mobile */
 @media only screen and (max-width: 768px) {
     .px-xs-0 {
         padding-left: 0 !important;
         padding-right: 0 !important;
     }

     .card__product img {
         height: 150px;

         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
     }
     
     .center-mobile {
         text-align: center !important;
         justify-content: center !important;
     }

     h1, h2, h3, h4, h5 {
         font-weight: bold;
     }

     .pt-xs-10 {
         padding-top: 60px;
         /* height: 100px; */
     }

     .hidden-xs {
         display: none !important;
     }

     .wa-float {
        /* width: 55px; */
        /* height: 55px; */
        bottom: 70px;
        right: 20px;
        /* font-size: 28px; */
     }
 }


 .nav-bottom {
     width: 100%;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     /* min-height: 50px; */
     background-color: white;
     border-top: 1px solid rgb(238, 238, 238);
     z-index: 9;
     margin-top: 100px;
 }

 .nav-bottom .nav-bottom-item {
     padding: 8px;
 }

 .nav-bottom .nav-bottom-text {
     /* padding: 8px; */
    font-weight: bold;
    /* color: black; */
 }

 .nav-bottom-item.active {
     color: var(--main-color);
 }